body {
    background-image: url("../images/stardust/stardust.png");
    font-family: 'Libre Baskerville', serif;
}

form {
    border: 10px solid transparent;
    padding: 15px;
    
    border-image: url("../images/border.png") 25 round;
}