body {
    background-image: url("../images/stardust/stardust.png");
    font-family: 'Libre Baskerville', serif;
}

/* header */
#header {
    color: teal;
    text-shadow: 1px 1px 2px white, 0 0 25px yellow, 0 0 5px orange;
}

/* question form */
form {
    border: 10px solid transparent;
    padding: 15px;
    opacity: 0;
    background: linear-gradient(to bottom right, teal, lightgreen);;
    border-image: url("../images/border.png") 25 round;
}

.collapseBnt {
    color: teal;
    background: white;
}
/* result */